{% extends 'base.html' %}

{% block content %}
    <h1>Admin Logs</h1>

    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Timestamp</th>
                <th>IP Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.user.email }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.ip_address }}</td>
                    <td>{{ log.action }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
